body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../LOGO/Deskto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.container{
    width: 500px;
    border: 2px solid  rgba(255, 255, 255, 0.2);
    align-items: center;
    text-align:justify;
    backdrop-filter: blur(12px);
    box-shadow: 10px 12px 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    padding: 42px 40px 30px 44px;
}
li.drop-li:hover {
  box-shadow: 7px 6px 20px -5px;
}

.cat-inside li:hover {
  box-shadow: -9px -10px 8px -5px gray;
}
a.lo-drop:hover {
  box-shadow: 5px 5px 10px -1px;
}

.container .label{
    width: 100%;
    height: 100%;
}
.container .label input{
    width: 98%;
    margin: px px;
    margin-top: 27px;
    outline: none;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: black;
    padding: 7px 100px 10px 100px;
}
.container h2{
    font-size: 36px;
    margin: -15px 90px 20px;
}
.container span{
    font-size: 20px;
}
.container p{
    font-size: 19px;
    font-weight: 600;
}
.password{
    color: rgb(0 0 0 / 88%);
    font-size: 18px;
}
#title {
    font-family: arial,sans-serif;
}
.input-box input{
    width: 50%;
    height: 60%;
    margin: 10px -17px;
    border: none;
    outline: none;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: black;
    padding: 14px 78px 14px 198px;
}
button{
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    padding: 11px 181px 11px 167px;
    border-radius: 40px;
    color: rgb(78, 78, 255);
    text-decoration: none;
    margin: 7px 0px;
}
button:hover{
    text-decoration: underline;
}
b{
    color: rgb(255, 0, 0);
}
.instructions li{
    background: transparent;
    padding: 1px 9px 0px 33px;
    line-height: 1.4;
    margin-top: 3px;
    text-align: justify;
    display: block;
    color: #000000a8;
}
.instructions li::before{
    content: '!';
    height: 18px;
    width: 18px;
    display: block;
    border: 2px solid red;
    border-radius: 50%;
    text-align: center;
    color: red;
    float: left;
    margin-top: 1px;
    margin-left: -25px;
}