* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

form.form {
    display: flex;
    flex-direction: row;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: rgb(204 201 201);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
li.drop-li:hover {
  box-shadow: 7px 6px 20px -5px;
}
img#Linkedin-Logo {
  width: 5em;
}
.cat-inside li:hover {
  box-shadow: -9px -10px 8px -5px gray;
}
a.lo-drop:hover {
  box-shadow: 5px 5px 10px -1px;
}

a.btn-primary {
  display: inline-block;
  width: 4em;
  height: 5vh;
  border: 2px solid rgba(13, 110, 253, 1);
  font-size: x-large;
  color: white;
  background-color: rgba(13, 110, 253, 1);
  border-radius: 9px;
  padding: 1px 1px 1px 5px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
input#search-submit {
  color: transparent;
  border: transparent;
  width: 4vh;
  height: 5vh;
  background-image: url("../logo/search.png");
  background-color: transparent;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  right: 6vh;
  top: 1vh;
}
a.profile {
  display: block;
  width: 4em;
  height: 4em;
  margin: 0px 0px 0px -21px;
}

input#search-submit:hover {
  cursor: pointer;
}
.prof {
  margin: -1vh 0em 0em -1em;
}
img#user-img {
    border-radius: 50%;
    height: 4em;
    width: 4em;
    box-shadow: 0px 0px 9px 1px gray;
}
li#search-bar {
  display: flex;
  flex-direction: row;
}
h1 {
  font-weight: 500;
  padding-bottom: 13px;
}

a.btn {
  display: inline-block;
  width: 10em;
  height: 5vh;
  border: 2px solid rgba(13, 110, 253, 1);
  font-size: larger;
  color: white;
  background-color: rgba(13, 110, 253, 1);
  border-radius: 9px;
  padding: 1px 0px 1px 13px;
}

.card-body {
  height: 10em;
  padding: 3px 16px 3px 16px;
}

h5.card-title {
  font-size: x-large;
  font-weight: 500;
  padding: 7px 4px 7px 4px;
}

.card {
  /* margin: 20px 4em 20px 6em; */
  background-color: white;
  height: 10em;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}

.box {
  position: relative;
  font-family: system-ui;
  top: 13em;
  display: flex;
  margin: 2px 3px 2px 2px;
  justify-content: space-around;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 17px;
}
p.card-text {
  font-size: 17px;
  padding: 10px 0px 12px 4px;
}

b,
strong {
  font-weight: bolder;
}
.col {
  background-color: #f5f5f5;
  padding: 16px 0px 16px 0px;
  border-radius: 7px;
  border: 1px solid #d4d4d4;
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 241);
}
.header {
  width: 100%;
  height: 100px;
  background-color: rgb(241, 241, 241);
  position: fixed;
  top: 0;
  z-index: 50;
}
.reuse-pic {
  padding: 6px 0px 0px 0px;
  width: 100%;
  height: 100%;
  position: sticky;
  z-index: 1;
}
#reuse-pic {
  width: 100%;
  position: fixed;
  top: 12px;
  border-left: 90px solid white;
}
.navbar {
  width: 40%;
  height: 6%;
  position: fixed;
  z-index: 2;
  top: 41px;
}
.nav-flex {
  display: flex;
  justify-content: space-around;
}
.menu {
  box-shadow: 3px 3px 8px -4px gray;
  padding: 0px 5px 0px 10px;
}
.menu:hover {
  border: 1px solid black;
  padding: 6px;
  background-color: bisque;
}
.menu:hover .menu-outside {
  display: block;
  box-shadow: 0px 0px 14px 5px gray;
}
li {
  list-style: none;
  height: 39px;
  font-size: 21px;
  font-family: monospace;
}
.icon {
  position: relative;
  color: black;
  top: 7px;
  width: 26px;
  right: 6px;
}
.menu-outside {
  display: none;
  border: 2px solid #cdcaca;
  background-color: whitesmoke;
  position: relative;
  z-index: 6;
  right: 14px;
  bottom: 86px;
  width: 138%;
  height: 36em;
}
#wlcm {
  font-size: 29px;
  margin: 6px;
  margin-left: 15px;
  font-family: system-ui;
  position: absolute;
  top: 10px;
}
.menu-btn-inside {
  position: relative;
  top: 50px;
  margin: 10px;
}
.drop-li {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu-btn-inside b {
  margin: 0px 0px 0px 8px;
  color: black;
  font-family: system-ui;
  font-weight: 400;
}
.cursor {
  cursor: pointer;
}
div.drop-cat:hover .cat-out {
  display: block;
  box-shadow: 4px 5px 25px 5px gray;
}
.cat-out {
  display: none;
  border: 2px solid #d8d7d7;
  background-color: whitesmoke;
  position: absolute;
  left: 13.9em;
  top: 6em;
  width: 13em;
  height: 209px;
}
.cat-inside li {
  margin: 5px 0px -4px 15px;
}
.cat-inside a {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contact {
  box-shadow: 3px 3px 8px -4px gray;
  padding: 0px 5px 0px 13px;
  color: black;
}
.contact a {
  color: black;
}
.contact:hover {
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: whitesmoke;
}
.faq {
  box-shadow: 3px 3px 8px -4px gray;
  padding: 0px 5px 0px 13px;
}
.faq a {
  color: black;
}
.faq:hover {
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: whitesmoke;
}
.about {
  box-shadow: 3px 3px 8px -4px gray;
  padding: 0px 5px 0px 10px;
}
.about a {
  color: black;
}
.about:hover {
  border: 1px solid transparent;
  box-sizing: border-box;
  background-color: whitesmoke;
}
.profile:hover {
  border: 2px solid rgb(157, 156, 156);
  border-radius: 50%;
  box-sizing: border-box;
}
.search {
    display: inline;
    position: fixed;
    z-index: 2;
    width: 20%;
    height: 6%;
    left: 69em;
    top: 39px;
}
.search-flex {
    display: flex;
    position: relative;
    right: 3vh;
}
#search {
    width: 295px;
    border: 2px solid #7d7d7d;
    border-radius: 20px;
    font-size: medium;
    padding: 18px;
    margin: 1vh;
}
#search:hover {
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: whitesmoke;
}
.pic-drop {
    display: none;
    border: 2px solid #d8d7d7;
    background-color: whitesmoke;
    position: absolute;
    left: 15.2em;
    top: 2.5em;
    width: 10em;
    height: 16.8em;
}
.pic-drop a {
  display: flex;
  height: 43px;
  align-content: center;
  flex-wrap: wrap;
}
div.prof:hover .pic-drop {
  display: block;
  box-shadow: -5px 7px 18px -4px gray;
}
.lo-drop {
  margin: 0px 0px 0px 8px;
  font-family: system-ui;
  color: black;
  font-weight: 400;
}
.lo-drop img {
  margin: 0px 10px 0px 0px;
}
.txt-box {
  top: 18em;
  position: relative;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  height: 14rem;
  padding: 16px 0px 0px 16px;
  margin: 0px 391px 0px 429px;
  background-color: #dbdbdb;
}
